@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



body {
    font-family: 'Nunito Sans', sans-serif;
}

.custom-sidebar {
    background-color: white !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.background {
    background-image: url("../src/assets/images/bg.png");
    background-size: cover;
}

.card-dashboard {
    padding: 0px !important;
}

.Card {
    padding: 0px;

}